---
import ExternalLink from "../common/ExternalLink.astro";

const isLinkExternal = (url: string): boolean => {
  if (url === "") return false;

  if (url.startsWith("#")) return false;

  if (!(url.startsWith("/") || url.startsWith("./"))) return true;

  return false;
};

let { href } = Astro.props;

const isExternal = href ? isLinkExternal(href) : false;

const url = new URL(href, Astro.url);
if (isExternal && !url.pathname.endsWith("/")) {
  url.pathname += "/";
}

export interface Props {
  href: string;
}
---

{
  // prettier-ignore
  href && isExternal ? (
    <ExternalLink url={href}><slot /></ExternalLink>
  ) : (
    <a href={url.pathname + url.hash + url.search}><slot /></a>
  )
}
