---
import Icon from "./Icon.astro";
import Tooltip from "./Tooltip.astro";

const {
  url,
  newTab = true,
  class: className,
  refer = false,
  icon = true,
} = Astro.props;

const hostname = new URL(url).hostname;

let child = await Astro.slots.render("default");
child = child.trim();

export interface Props {
  /** The url to link to */
  url: string;
  /** Whether the linked page should be opened in another tab. Defaults to `true`. */
  newTab?: boolean;
  /** Whether to [refer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer) when navigating away. Defaults to `false`. */
  refer?: boolean;
  /** Whether or not to display the "external" icon next to the link. Defaults to `false`. */
  icon?: boolean;
  /** Allows you to pass in a class to be applied to the link. */
  class?: string;
}

const classes = ["external"];
if (className) {
  classes.push(className);
}
if (icon === false) {
  classes.push("no-icon");
}

const relationships = ["noopener", "nofollow"];
if (!refer) {
  relationships.push("noreferrer");
}
---

<span class="external-link">
  <Tooltip content={hostname}>
    <a
      href={url}
      target={newTab ? "_blank" : null}
      rel={relationships.join(" ")}
      class={classes.join(" ")}
      set:html={child}
    />{
      icon !== false && (
        <Icon
          group="solid"
          name="up-right-from-square"
          class="external-indicator"
        />
      )
    }
  </Tooltip>
</span>

<style lang="scss">
  .external-link {
    color: var(--link-color);

    &:not(.no-icon) {
      margin-right: -0.2em;
    }

    a {
      font-weight: 500;
    }

    & > :global(.tooltip > .icon.external-indicator) {
      display: inline;
      margin-left: -0.3em;
      vertical-align: text-top;
      font-size: 0.4em;
    }
  }
</style>
