---
import Icon from "./Icon.astro";

import {
  faAsterisk,
  faCircleDot,
  faExclamation,
  faNoteSticky,
  faPenRuler,
  faTrashCan,
  faWarning,
} from "@fortawesome/free-solid-svg-icons";

const TYPES = {
  note: { displayName: "Note", icon: faNoteSticky },
  warning: { displayName: "Warning", icon: faWarning },
  important: { displayName: "Important", icon: faExclamation },
  WIP: { displayName: "WIP", icon: faPenRuler },
  deprecated: { displayName: "Deprecated", icon: faTrashCan },
  issue: { displayName: "Issue", icon: faCircleDot },
  recommendation: { displayName: "Recommendation", icon: faAsterisk },
};

type RemarkType =
  | "note"
  | "warning"
  | "important"
  | "WIP"
  | "deprecated"
  | "issue"
  | "recommendation";

export interface Props {
  type: RemarkType;
  display?: "fit" | "block" | "compact";
}

const { type, display } = Astro.props;

const remark = TYPES[type];

if (!remark) {
  throw new Error("Invalid remark type: " + type);
}

const classList = [type, "remark"];

if (display) {
  classList.push(display);
} else {
  // If display mode is not specified, fetch the slot text content length and determine best mode.
  const content = await Astro.slots.render("default");
  const text = content
    .replace(/<[^>]*>/g, "")
    .replace(/\s+/g, " ")
    .trim();

  if (text.length < 115) {
    classList.push("compact");
  } else {
    classList.push("block");
  }
}
---

<div class:list={classList}>
  <div>
    <Icon icon={remark.icon} />
    {remark.displayName}
  </div>
  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  .remark {
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border-width: 0.3em;
    border-style: outset;
    margin: 1em auto;
    width: fit-content;
    box-shadow: var(--remark-color) 0px 0px 0.75em 0px;
    border-color: var(--remark-color);
    background-color: color-mix(in srgb, var(--remark-color), #071521 80%);

    &.block {
      width: 95%;
    }

    &.compact {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    &.note {
      --remark-color: #0099ff;
    }

    &.warning {
      --remark-color: #c47c00;
    }

    &.important {
      --remark-color: #ba0000;
    }

    &.deprecated {
      --remark-color: #9320ff;
    }

    &.WIP {
      --remark-color: #ff20d6;
    }

    &.issue {
      --remark-color: #2ea043;
    }

    &.recommendation {
      --remark-color: #1aecbe;
    }

    & > div:first-of-type {
      font-size: 1.1em;
      display: flex;
      gap: 0.2em;
      align-items: center;
      font-weight: bold;

      :global(i.fa-solid) {
        margin-left: -0.3em;
        font-size: 1.3em;
        color: color-mix(in srgb, var(--remark-color), white 60%);
      }
    }

    & > .content {
      :global(p) {
        margin: 0.1em auto;
      }
    }
  }
</style>
