@use "variables";

@use "fonts/Source_Code_Pro";
@use "fonts/Prompt";
@use "fonts/Poppins";

html,
body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html {
  font-family: "Poppins";
  color: white;
  background-color: #071521;

  scrollbar-width: auto;
  scrollbar-color: #1b4f81 #00000030;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*:focus-visible {
  outline: var(--link-color) 2px solid;
  border-radius: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prompt";
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

article h2 {
  border-bottom: #b9b9b9 solid 0.01em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.9em;
}

h4 {
  font-size: 1.6em;
  color: #cccccc;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

pre {
  margin: 0px;
}

:not(pre) > code,
kbd {
  font-family: "Source Code Pro", "Consolas", monospace;
  font-size: 0.8em;
  display: inline;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  vertical-align: middle;
}

:not(pre) > code {
  background-color: #323237;
}

kbd {
  background-color: #545454;
  box-shadow: #3a3a3a 1px 1px 0px 1px;
}

hr {
  border: 0.05em solid white;
}

blockquote {
  border-left: var(--link-color) 0.3em solid;
  padding-left: 0.5em;
  margin-left: 1em;
}

button {
  &:hover {
    cursor: pointer;
  }
}
