@use "variables";

@use "fonts/Fira_Code";
@use "fonts/Prompt";

html,
body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html {
  font-family: "Poppins";
  color: white;
  background-color: #04111d;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prompt";
  text-align: center;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2.4em;
}
h4 {
  font-size: 2.1em;
}
h5 {
  font-size: 1.8em;
}
h6 {
  font-size: 1.5em;
}

a {
  color: var(--link-color);
  font-weight: 500;
}

pre {
  margin: 0px;
}

:not(pre) > code,
kbd {
  font-family: "Fira Code", "Source Code Pro", "Consolas", monospace;
  font-size: 0.8em;
  display: inline-block;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  vertical-align: middle;
}

:not(pre) > code {
  background-color: #323237;
}

kbd {
  background-color: #545454;
}

hr {
  border: 0.05em solid white;
}
