---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Main.astro";
import CodeBlock from "../../components/common/CodeBlock.astro";
import WikiLink from "../../components/wiki/WikiLink.astro";

export const getStaticPaths = async () => {
  const entries = await getCollection("wiki");
  return entries.map((entry) => {
    return { params: { slug: entry.slug }, props: { entry } };
  });
};

const { entry } = Astro.props;

const { Content, components } = await entry.render();
---

<Layout title="Wiki">
  <main>
    <article>
      <div id="meta">
        <h1>{entry.data.title}</h1>
        <p>{entry.data.description}</p>
      </div>
      <Content components={{...components, pre: CodeBlock, a: WikiLink}}/>
    </article>
  </main>
</Layout>

<style lang="scss">
  article {
    margin: 0px 2em 5em 2em;
  }
  #meta h1 {
    font-family: "Prompt";
    margin: 0.25em auto 0.25em auto;
  }
  #meta p {
    margin: 0px auto 3em auto;
    text-align: center;
  }
</style>
