---
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const entries = await getCollection("wiki");
  return entries.map((entry) => {
    return { params: { slug: entry.slug }, props: { entry } };
  });
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<article>
  <h1>{entry.data.title}</h1>
  <Content />
</article>
